@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');


body {
padding: 0;
margin: 0;
}

.main{
    height: 200vh;
    width: 100vw;
    overflow: scroll;
    /* flex-direction: row; */
    display: flex;
    flex-direction: column;
    
}


.div1{
display: flex;
height: 3%;
background-color: #FFFFFF;
justify-content: space-between;
text-decoration: none;
align-items: center;
}



/* .left{
    display: flex;
    width: 50%;
    height: 5%;
    justify-content: flex-start;
    align-items: center;
    background-color: white;
    border: 1px black solid;
    
    

}

.right{
    display: flex;
    width: 50%;
    height: 5%;
    justify-content: space-around;
    align-items: center;
    background-color: white;
    border: 1px black solid;

    
} */

.div2
{
    display: flex;
    width: 100%;
    height: 11%;
       
}

.div3
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(236, 204, 104);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div4
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color: rgb(255, 127, 80);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div5
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(255, 107, 129);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div6
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(164, 176, 190);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div7
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color: rgb(87, 96, 111);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div8
{
    display: flex;
    width: 100%;
    height: 11%;
       
}

.div9
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(255, 165, 2);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div10
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(255, 99, 72);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div11
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(255, 71, 87);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div12
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(116, 125, 140);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div13
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(47, 53, 66);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div14
{
    display: flex;
    width: 100%;
    height: 11%;
       
}

.div15
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(123, 237, 159);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div16
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(112, 161, 255);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div17
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(83, 82, 237);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div18
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(255, 255, 255);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div19
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(223, 228, 234);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}


.div20
{
    display: flex;
    width: 100%;
    height: 11%;
       
}

.div21
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(46, 213, 115);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
    
}

.div22
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color: rgb(30, 144, 255);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div23
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(55, 66, 250);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div24
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(241, 242, 246);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}

.div25
{
    display: flex;
    width: 20%;
    height: 98%;
    background-color:rgb(206, 214, 224);
    color: white;
    align-items: flex-end; 
    justify-content: flex-end;
    padding-bottom:.2% ;
    padding-right: .3%;
}